.form {
  width: 100%;
  max-width: 400px;
  margin-top:200px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.format{
  display: flex;
  flex-direction: row;
}

.row{
  padding:0% 5%;
}

h2 {
  font-size: 1.5rem;
  margin-left: 10%;
  text-align: left;
  color: #333;
}

p{
  font-size: 1rem;
  margin-left: 10%;
  margin-bottom: 2.5%;
  text-align: left;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  margin-left: 10%  ;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}


input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

/* Button styling */
button[type="submit"] {
  background-color: black;
  color: #fff;
  width: 10%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: darkred;
}

/* Required field styling */
input:required,
textarea:required {
  border-color: grey;
}

/* Error message styling (you can add this to display validation messages) */
.error-message {
  color: #ff0000;
  font-size: 0.8rem;
  margin-top: -10px;
  margin-bottom: 10px;
}
