.ticket
{
    width:50%;
    margin-left: 9%;
}

.text
{
    margin-left: 10%;
    padding: 2%;
}
.homepagetext{
    font-size: x-large;
    padding: 0% 2%;
    margin-left: 10%;
}
.main
{
    width: 85%;
}