@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.testimonials-container
{
    margin-top: 1.5%;
    display: grid;
    grid-template-columns: repeat(2,200px);
    column-gap: 18em;
    row-gap: 2em;
    margin-left: 18%;
    align-items: center;
    margin-bottom: 2.5%;
}

.heading
{
    margin-top: 1.5%;
    margin-left: 18.3%;
    display: grid;
    grid-template-columns: repeat(1,400px);
}

.testimonial-card
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 25em;
    height: 200px; /* You can adjust the height as needed */
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Open Sans Bold', sans-serif;
}

.content
{
    font-size:x-small;
    text-align: left;
}
h1
{
    margin: auto;
    font-family: 'Open Sans Bold', sans-serif;
}